.section{
    background-color: #121212;
    padding: 20px;
   
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.albums{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
    gap: 20px;
    padding-bottom: 40px;
   
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px;
    color: #34c94b;
}

.top{
    color:#FFFFFF;
    font-family:sans-serif;
    margin: 0;
    font-size: 20px;
}