.button{
    background-color:black;
  color: #34C94B; 
  font-family: "Poppins", sans-serif;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.button :hover{
  cursor: pointer;
}