.button{
    background-color: var(--color-black);
    color: var(--color-green);
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.button:hover{
  cursor: pointer;
}