.songs-tabs {
  margin-bottom: 16px;
}

.song-tab {
  color: white !important;
  text-transform: none !important;
  font-size: 14px;
}

.song-tab.Mui-selected {
  color: #34c94b !important;
  border-bottom: 2px solid #34c94b;
}
