.card{
    background-color: #121212;
     overflow: hidden;
     
}

.card-image-container{
    position: relative;
    overflow: hidden;
}

.card-chip{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-weight: bold;
    font-size: 12px;
    background-color: #121212 !important;
    color: #FFFFFF !important;

}

.card-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
   
    
}

.album-title{
    color: white;
    font-family: sans-serif;
   font-size: 14px;
   padding: 8px;
}