.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 40px;
}

.hero-section h1{
    color: white;
    margin: 8px 0;
    padding-left: 300px;
}

.heroImg{
    padding-right: 300px;
}