.search-container {
  position: relative;
  width: 400px;
}

.search {
  width: 100%;
  height: 40px;
  padding: 0 16px 0 40px; /* leave space for icon */
  border-radius: 8px;
  border: none;
  outline: none;
  border: 2px solid black;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: gray; /* icon color */
}
